* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 5em;
  background: #3c3c3c;
}
/* Main wrapper */
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}
.wrapper > * {
  padding: 20px;
  flex: 1 100%;
}
.navbar-wrapper {
  padding: 0px;
}
.navbar-top {
  overflow: hidden;
  background: #f0f1f5;
}

.navbar-top a {
  float: left;
  color: #8f99b3;
  text-align: center;
  padding: 24px 48px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.active-nav-item {
  background: #e4e5eb;
  color: white;
}

.navbar-top .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdown-btn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #8f99b3;
  padding: 24px 48px;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 181px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  float: none;
  text-decoration: none;
  text-align: left;
  color: #8f99b3;
}

.navbar-top a:hover,
.dropdown:hover .dropdown-btn {
  padding: 24px 48px;
  background-color: #e4e5eb;
}

.dropdown-content a:hover {
  padding: 24px 48px;
  background-color: #ddd;
  color: #8f99b3;
}

.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 968px) {
  .navbar-wrapper {
    margin-top: 0;
  }
  /* Hide the dropdown menu items */
  .navbar-top a:not(:first-child),
  .dropdown .dropdown-btn {
    display: none;
  }
  /* Show the menu hamburger icon */
  .navbar-top a.icon {
    display: block;
    float: right;
  }
}

@media screen and (max-width: 968px) {
  .navbar-top.responsive {
    position: relative;
    width: 100%;
  }
  .navbar-top.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-top.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar-top.responsive .dropdown {
    float: none;
  }
  .navbar-top.responsive .dropdown-content {
    display: block;
    position: relative;
  }
  .navbar-top.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.aside-1 {
  flex: 1 0 0;
  background: #555c70;
  color: #e4e5eb;
}
.aside-2 {
  flex: 2 0 0;
  color: white;
  background: #00bdbd;
}

.logos-container {
  display: flex;
  justify-content: center;
}
.logo {
  width: 25%;
  height: 100%;
  padding: 10px;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 20%;

  /* Firefox 1-3.6 */
  -moz-border-radius: 20%;

  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 20%;
}
.email-btn-wrapper {
  padding: 20px 0;
}
.email-btn {
  margin-top: 10px;
  position: relative;
  padding: 13px;
  width: 40%;
  height: 10%;
  outline: none;
  text-decoration: none;
  color: #555c70;
  z-index: 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.email-btn:before {
  position: absolute;
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-size: 400%;
  filter: blur(5px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.email-btn:active {
  color: #555c70;
}

.email-btn:active:after {
  background: transparent;
}

.email-btn:hover:before {
  opacity: 1;
}

.email-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: #ffa640;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* Responsive layout - when the screen is less than 768px wide, 
make the two columns stack on top of each other instead of next to each other */
@media (max-width: 768px) {
  body {
    padding: 0;
  }
  .wrapper {
    flex-flow: column wrap;
  }
  .row {
    flex-direction: column;
  }
}
